.App,
.graph-id-graph-wrapper {
  font-family: sans-serif;
  text-align: center;
}

.node-info {
  padding: 1rem;
  border-radius: 10px;
  background-color: antiquewhite;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
}

p {
  color: black !important;
}

.status {
  color: lightgreen !important;
}

svg {
  height: 100vh !important;
  width: 100vw !important;
}

.select-node {
  padding: 5px;
  border: 1px solid lightblue;
  width: 9rem;
  border-radius: 5px;
  margin-top: 5px;
}

.filter {
  width: 60vw !important;
  margin: auto;
  background: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 10px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.primary-button {
  background: rgb(0, 166, 255);
  color: white;
  border: transparent !important;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 20px;
  width: 100px;
  cursor: pointer;
}
